.body {
    display: flex;
    justify-content: right;
    position: "fix";
    height: 1000px;
  }
  
  .simplecard {
    background-color: #282c31;
    background-clip: border-box;
    border: 2px solid #4d4d4d;
    border-radius: 1em;
    height: 8em;
    color: white;
    margin: 5px;
    text-align: center;
    box-shadow: 0px 5px 5px rgb(163, 158, 158);
  
  
  }
  
  .graphcard {
    background-color: #282c31;
    background-clip: border-box;
    border: 2px solid #4d4d4d;
    border-radius: 1em;
    height: 22em;
    color: white;
    margin: 5px;
    text-align: center;
  }
  .bar {
    background-color: #282c31;
    color: blue;
  }
  
  .container {
    display: flex;
    background-color: #6d6b6b;
  }
  
  
  h1{
    color: white;
    font-family:Arial, Helvetica, sans-serif;
  }