.body{
  background-color:gray;
  display: flex;
  justify-content: right;
  position:'fix';
  height: 100%;
}
.drawer{
  background-color: #282C31;
  color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #4D4D4D ;
}
.simplecard{
  background-color: #282C31;
  background-clip: border-box;
  border: 2px solid #4D4D4D;
  border-radius: 1em; 
  height: 8em;
  color: white;
  margin: 5px;
  text-align: center;
}

.graphcard{
  background-color: #282C31;
  background-clip: border-box;
  border: 2px solid #4D4D4D;
  border-radius: 1em; 
  height: 12em;
  color: white;
  margin: 5px;
  text-align: center;
}
