
.firstcard{
  align-items: center;
}
.card{
  background-color: #1f1427;
  background-clip: border-box;
  border: 1px solid black;
  border-radius: 0.2857rem; 
  height: 10em;
  color: white;
  width: 20em;
  margin: 1cm;
  text-align: center;
  

}
