
.body{
  background-color: #212427;
}
.simplecard{
  background-color: #282C31;
  background-clip: border-box;
  border: 2px solid #4D4D4D;
  border-radius: 1em; 
  height: 8em;
  color: white;
  margin: 5px;
  text-align: center;
}

.graphcard{
  background-color: #282C31;
  background-clip: border-box;
  border: 2px solid #4D4D4D;
  border-radius: 1em; 
  height: 12em;
  color: white;
  margin: 5px;
  text-align: center;
}
