.sidebar{
  width:18%;
  position: sticky;

}

.sidebarWrapper{
  padding: 15px;

}

.sidebarList{
  list-style: none;
  padding: 5px;
  
}

.sidebarListItem{
  padding: 5px;
  cursor: pointer;

}

.sidebarListItem:hover{
  background-color:rgb(255,255,255);
  border-radius: 10px;
  
}