.buton {
    background-color: rgb(187, 53, 53);
    border-radius: 15px;
    height: 30px;
    width: 160px;
}

h1{
    color: white;
}

.input {
    background-color: #43484d;
    background-clip: border-box;
    border: 2px solid #4d4d4d;
    border-radius: 15px;
    text-decoration-color: white;
    margin: 5px;
    width: 100%;
    text-align: center;
    
  }
  

label{
    color: white;
}